<!-- NAV -->
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#top">HackathonHub</a>
    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navMenu"
    >
      <i class="fa fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto gap-lg-4">
        <li class="nav-item"><a class="nav-link" href="#features">Features</a></li>
        <li class="nav-item"><a class="nav-link" href="#competitions">Competitions</a></li>
        @if (loggedData?.role === 'organizer') {
          <li class="nav-item"><a class="nav-link" routerLink="/events">Events</a></li>
        }
        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
        @if (loggedData) {
          <li class="nav-item">
            <a class="nav-link">{{ loggedData?.email }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="onLogout()">
              <button class="btn btn-warning">Logout</button>
            </a>
          </li>
        } @else {
          <li class="nav-item"><a class="nav-link" routerLink="/register">Login</a></li>
        }
      </ul>
    </div>
  </div>
</nav>
<router-outlet />
<!-- FOOTER -->
<footer id="contact">
  <div class="container">
    <p class="mb-3">
      Contact us at
      <a href="mailto:info@hackathonhub.com"><strong>info@hackathonhub.com</strong></a>
    </p>
    <div class="mb-2">
      <a href="#" class="foot-social"><i class="fa fa-facebook"></i></a>
      <a href="#" class="foot-social"><i class="fa fa-twitter"></i></a>
      <a href="#" class="foot-social"><i class="fa fa-linkedin"></i></a>
    </div>
    <p class="foot-copy mb-0">© 2026 HackathonHub. All rights reserved.</p>
  </div>
</footer>
